.navbar {
    background-color: #111;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
}
.navbar .logo {
    margin: 0 20px 0 0;
    padding: 0;
}
.navbar-content {
    display: flex;
    width: 800px;
    margin: 0 auto;
}
input {
    background-color: black;
    color: white;
    border: 1px solid #333;
}